<div class="w-full">
  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto text-4xl font-bold">Jobs</h1>    
    <% if current_user.admin? %>
      <%= link_to 'New Job', new_job_path, class: "inline rounded-lg py-3 px-5 bg-green-600 text-white font-medium" %>
    <% end %>
  </div>

  <% if current_user.candidate? %>
    <div class="w-full flex justify-between items-center pb-8">
      <%= form_tag(jobs_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search jobs by title", class: "border rounded px-4 py-2" %>

        <%= select_tag :department_id, options_for_select(@departments.map { |d| [d.name, d.id] }, params[:department_id]), include_blank: "All Departments", class: "border rounded px-4 py-2" %>

        <%= select_tag :sort, options_for_select([["Most Recent", "recent"]], params[:sort]), include_blank: "Sort", class: "border rounded px-4 py-2" %>

        <%= submit_tag "Filter", class: "bg-blue-600 text-white rounded px-4 py-2" %>
      <% end %>
    </div>
  <% end %>
  
  <% if @jobs.exists? %>
    <%= turbo_frame_tag "job" do %>
      <table id="jobs" class="mx-auto w-full table-auto">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-left">Title</th>
            <th class="px-4 py-2 text-left">Description</th>
            <th class="px-4 py-2 text-left">Company</th>
            <th class="px-4 py-2 text-left">Work Space Type</th>
            <th class="px-4 py-2 text-left">Location</th>
            <th class="px-4 py-2 text-left">Lead Source</th>
            <th class="px-4 py-2 text-left">Status</th>
            <th class="px-4 py-2 text-left">Department</th>
            <th class="px-4 py-2 text-left">Skills</th>
            <th class="px-4 py-2 text-left">Application Status</th>
          </tr>
        </thead>
        <tbody>
          <% @jobs.find_each do |job| %>
            <%= render job %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>No jobs available at the moment.</p>
  <% end %>
</div>
