<div class="w-full">
  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto text-4xl font-bold">Jobs</h1>    
    <% if current_user.admin? %>
      <%= link_to 'New Job', new_job_path, class: "inline rounded-lg py-3 px-5 bg-green-600 text-white font-medium" %>
    <% end %>
  </div>

  <% if current_user.candidate? %>
      <div class="w-full flex justify-between items-center pb-8">
        <form method="get" action="<%= jobs_path %>" class="flex space-x-4 w-full">
          <input type="text" name="search" placeholder="Search jobs by title" class="border rounded px-4 py-2" value="<%= params[:search] %>">

          <select name="department_id" class="border rounded px-4 py-2">
            <option value="">All Departments</option>
            <% @departments.each do |department| %>
              <option value="<%= department.id %>" <%= "selected" if params[:department_id] == department.id.to_s %>><%= department.dep_name %></option>
            <% end %>
          </select>

          <select name="sort" class="border rounded px-4 py-2">
            <option value="">Sort</option>
            <option value="recent" <%= "selected" if params[:sort] == "recent" %>>Most Recent</option>
          </select>

          <button type="submit" class="bg-blue-600 text-white rounded px-4 py-2">Filter</button>
        </form>
      </div>
  <% end %>
  
  <% if @jobs.exists? %>
    <table id="jobs" class="mx-auto w-full table-auto">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left">Title</th>
          <th class="px-4 py-2 text-left">Description</th>
          <th class="px-4 py-2 text-left">Company</th>
          <th class="px-4 py-2 text-left">Work Space Type</th>
          <th class="px-4 py-2 text-left">Location</th>
          <th class="px-4 py-2 text-left">Lead Source</th>
          <th class="px-4 py-2 text-left">Status</th>
          <th class="px-4 py-2 text-left">Department</th>
          <th class="px-4 py-2 text-left">Skills</th>
          <th class="px-4 py-2 text-left">Application Status</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <%= render job %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No jobs available at the moment.</p>
  <% end %>
</div>
